.fff{
    text-align: center;
    background-color: #839795;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.ff{
  
    background-color: #839795; 
    padding: 20px;
    
  }

.ab{
    height: 150px;
    
  }

.pic{
    margin-top: 30px;
    
  }


  